[Unit]
Description=tv-managing-system server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env tmsd

[Install]
WantedBy=multi-user.target